body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: 0;
        /* SÓ COLOCAR QUANDO COLOCAR COR NO HEADER */
    margin: 0;
        /* SÓ COLOCAR QUANDO COLOCAR COR NO HEADER */
        /*background-color: red;*/
}

.container { 
    width: 80%;
    margin: auto;
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* CABEÇALHO */

.header {
    background-color: #232323;
        /*overflow: auto; /* cuidado*/
    height: 150px;
        /*ATENÇÃO VOLTA A NAV AQUI SE SUMIR*/

}

.header .container {
    height: 80px;
}

.header h1 {
    margin: 0;
    padding: 0;
    float: left;
        /*ATENÇÃO - VAI SUMIR A NAV*/
    margin-top: 50px;
    color: white;
    font-size: 35px;
    margin-left: none;

}

.header ul {
    list-style-type: none;
        /*ATENÇÃO - NAO É NO NAV*/
    float: right;
        /*ATENÇÃO - VAI SUMIR A NAV*/
    margin-top: 60px;
}

.header li {
    float: left;
        /*ATENÇÃO ORDENE OS ITENS NA MESMA ORDEM QUE ESTÃO NO HTML*/
    margin-left: 18px;
        /* FIM*/
}

.header a {
    /*text-transform: uppercase;*/
    color: white;
}

.contato .container{
    width: 70%;
}

.titulo-contato h1{
    color: black;
    font-size: 40px;
    padding-top: 60px;
    margin-top: 50px;
    margin-left: 40px;
}
.paragrafo{
    color: black;
    font-size: 15px;
    margin-left: 40px; 
}

.contato{
    padding-bottom: 40px;

}

.input-forac{
    margin-bottom: 40px;
    padding-top: 20px;
    padding-left: 40px;

}

.input_contato{
    width: 500px;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 4px;
}

.input_msg{
    width: 500px;
    height: 150px;
    line-height: normal;
    box-sizing: border-box;
    min-height: 100px;
    resize: vertical;
    overflow: auto;
    margin-top: 15px;
}

.button-contato-volu{
    width: 200px;
    height: 40px;
    font-size: 15px;
    background-color: black;
    color: white;
    border-bottom: none;
}

.botao-seja h1{
    margin-top: 40px;
}

.p-endereco{
    width: 300px;
}

.icones{
    width: 400px;
    padding-top: 10px;
}

.icons{
    width: 40px;
    height: 40px;
}

